<!DOCTYPE html>
<html ng-app="myApp">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="./style.css">
        <title>Quote Book</title>
    </head>
    <body ng-controller="myController">
        <div ng-repeat="quote in Quotes">
            <span>
                <img src="images/quote.png" class="quote-front">
                <h1>{{quote.text}}</h1>
                <img src="images/quote.png" class="quote-back">
                <h2>{{quote.author}}</h2>
            </span>
        </div>

        <div class="addRemove">
            <input ng-model="quoteObj.text" placeholder="'Quote'" class="longer" />
            <input ng-model="quoteObj.author" placeholder="Author" /> </br>
            <button ng-click="addData(quoteObj)">Add Quote</button>
            <button ng-click="removeData(quoteObj)">Remove Quote</button>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
        <script src="./js/app.js"></script>
        <script src="./js/controller.js"></script>
        <script src="./js/service.js"></script>
    </body>
</html>
