

span {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    align-items: center;
    flex: 1;
    /*width: 100%
    background-color: white;*/
    border-radius: 25px;
    /*border-bottom: 6px #B3B3B3 solid;*/
    box-shadow: 6px 10px 10px #B3B3B3;
    padding: 5px 20px;
    background-color: #F4FFFB;
    min-height: 70px;
}
h1 {
    display: flex;
    margin: 0;
    font-size: 18px;
    color: #747876
}
h2 {
    font-size: 16px;
    color: #747876
}
.addRemove {
    height: 50px;
    margin: 15px;
}
.remove{
    justify-content: flex-end;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    font-size: 16px;
    background-color: black;
    color: white;
    text-align: center;
    cursor: pointer;
}

.longer {
    width: 75%;
}
.quote-front {
    height: 15px;
    align-self: flex-start;
    padding-bottom: 20px;
}
.quote-back {
    height: 15px;
    align-self: flex-start;
    transform: rotateZ(180deg);
    padding-top: 20px;
}
